@page
@model SafeNeighbourhood.Pages.ClassmatesJsonModel
@{
    ViewData["Title"] = "ClassmatesJson";
    var Breweries = (IEnumerable<QuickType.BreweryData>)ViewData["Breweries"];
}

<h1>ClassmatesJson</h1>
<table id="Output" style="color:white">

    @{foreach (QuickType.BreweryData brewery in Breweries)
        {
            
            <tr><th style="color:gold">@brewery.Name</th></tr>
            <tr style="border:solid; background-color:rgba(140, 140, 140,.4)"><th>User</th><th style="padding-right:20px">Rating</th><th>Review</th></tr>
            @foreach (QuickType.ReviewElement review in brewery.Reviews)
                {
                    <tr style="border:solid; background-color:rgba(140, 140, 140,.4)"><td>@review.User.Name</td><td style="padding-right:20px">@review.Rating</td><td>@review.Text</td></tr>
                }
            


        } }
</table>
