@page
@model SafeNeighbourhood.Pages.ClassmatesJsonModel
@{
    ViewData["Title"] = "ClassmatesJson";
}

<h1>ClassmatesJson</h1>
<table id="Output">
</table>

@section Scripts {
    <script>
        $(function () {

            loadData();

            function loadData() {
                $.ajax({
                    url: "https://breweryratings20191109050130.azurewebsites.net/Privacy",
                    dataType: 'json',
                    contentType: 'application/json',
                    method: 'GET',
                    Access-Control-Allow-Origin: *,
                }).done(function (responseJSON, status, xhr) {
                    $.each(responseJSON, function (index, item) {

                        $("#Output").append('<tr><th>Brewery</th></tr><tr><th>' + item.name + '</th></tr><tr><th>User</th><th>Rating</th><th>Review</th></tr>');
                        console.log(item);

                        $.each(item.reviews, function (index, item) {

                            $("#Output").append('<tr><th>' + item.user.name + '</th><th>' + item.rating + '</th><th>' + item.text + '</th></tr>');
                            console.log(item);


                        });


                    });
                })
            }
                        

        });
    </script>
}