@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var vacantProperties = (IEnumerable<QuicktypeProperty.PropertyData>)ViewData["VacantProperties"];
    var neighborhoods = (List<QuicktypeNeighborhood.NeighborhoodData>)ViewData["Neighborhoods"];
}

<h2>Vacant Homes in Cincinnati by Neighborhood Cleanliness</h2>
<p>(Data since 2012)</p>
<meta name="viewport" content="width=device-width, initial-scale=1">

<h3 align="center">Search for a Neighborhood by Name</h3>
<input id="list" list="Ndata" style="width: 1000px" />
<datalist id="Ndata">
</datalist>

<div style="text-align: center">
    </br>
    <input type="button" id="submit" value="Search" />
    <input type="button" id="clear" value="Clear" />
</div>
<br />
<div>
    <table id="searchout" style="width:100%" class="table table-bordered">
    </table>
</div>
<br />
@section Scripts {
    <script>
        $(function () {
            loadData();

            var datalist = [];

            $("#submit").on("click", function () {

                var searchterm = $("#list").val();

                $("#list").val("");


                for (i = 0; i < datalist.length; i++) {

                    if (datalist[i][0].neighborhood == searchterm) {

                        $("#searchout").append('<tr><th style="background-color:black; color:white">Neighborhood</th><th style="background-color:black; color:white">Number of Cleanliness Complaints</th></tr><tr><td><strong>' + datalist[i][0].neighborhood + '</strong></td><td>' + datalist[i][0].wfdb + '</td></tr><tr class="table-secondary"><th>Property ID</th><th>Street Number</th><th>Street Name</th><th>Neighborhood</th><th>Official Status</th><th>URL</th></tr>')

                        for (x = 0; x < datalist[i][1].length; x++) {

                            $("#searchout").append('<tr class="table-secondary"><td>' + datalist[i][1][x].uniqueid + '</td><td>' + datalist[i][1][x].street_no + '</td><td>' + datalist[i][1][x].street_name + '</td><td>' + datalist[i][1][x].neighborhood + '</td><td>' + datalist[i][1][x].data_status_display + '</td><th><a href="' + datalist[i][1][x].url + '">' + datalist[i][1][x].url + '</a></td></tr>')

                        }

                    }
                }
                $("#searchout").append('<tr><td>' + searchterm + '</td><td>' + crimerate + '</td></tr>')

            });
            $("#clear").on("click", function () {

                $("#searchout").empty();

            });

            function loadData() {
                $.ajax({
                    url: "https://localhost:44383/JsonData",
                    dataType: 'json',
                    contentType: 'application/json',
                    method: 'GET'
                }).done(function (responseJSON, status, xhr) {
                    $.each(responseJSON, function (index, item) {

                        datalist.push(item);

                        $("#Ndata").append('<option value="' + item[0].neighborhood + '">');

                    });
                    console.log(datalist);

                }).fail(function (xhr, status, error) {
                    console.log("fail", xhr, status, error);
                    alert("There was an error retrieving the data");
                });

            };
        });
    </script>
}
